@*@using MlHostWeb.Client.Services;
@using MlHostWeb.Client.Application.Models;
@inject NavMenuService _navMenuService

<div class="text-8 mb-2">
    <nav>
        <ol class="breadcrumb border-bottom m-0 p-0 bg-transparent">

            @{ bool first = true; }
            @foreach (var item in BreadcrumbItems)
            {
                @if (first)
                {
                    first = false;
                }
                else
                {
                    <li style="color:grey">&nbsp;/&nbsp;</li>
                }
                <li class="breadcrumb-item active">
                    <NavLink href=@item.Href>@item.Text</NavLink>
                </li>
            }
        </ol>
    </nav>
</div>

@code {
    private IReadOnlyList<BreadcrumbItem> BreadcrumbItems => _navMenuService.BreadcrumbItems;
}*@