@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <span class="font-weight-bold">Experimentation</span>
        <a href="/about" class="btn-link ml-md-auto">About</a>
    </div>

    <div class="content col-md-10">
        @Body
    </div>
</div>
