@page "/tryit/{versionId}"

@using MlHostWeb.Client.Application;

<PageHeader VersionId="@VersionId" />

<ModelPageMenu VersionId="@VersionId" PageId=@Constants.Pages.TryIt />

<div class="mt-md-2">
    <EditForm OnSubmit="SubmitForm" Model="ModelInput">
        <div class="simple-form">
            <div class="form-group">
                <label for="question">Question</label>
                <input @bind="ModelInput.Question" type="text" class="form-control" id="question" placeholder="Enter question for model" />
            </div>

            @if (IsExecuting)
            {
                <button class="btn btn-success disabled" disabled>
                    <span class="spinner-border" style="width: 1.5rem; height: 1.5rem;" role="status"></span>&nbsp; Executing...
                </button>
            }
            else
            {
                <button type="submit" class="btn btn-success">Submit</button>
            }
        </div>
    </EditForm>

    <hr />

    <div class="editor">
        <textarea @bind=ModelInput.Result placeholder="model result" rows="20" style="width:100%" readonly></textarea>
    </div>
</div>
