@page "/tryit/{versionId}"

<PageHeader VersionId="@VersionId" />

<PageMenu VersionId="@VersionId" />

<div class="mt-md-2">
    <EditForm OnSubmit="SubmitForm" Model="ModelInput">
        <div class="simple-form">
            <div class="form-group">
                <label for="question">Question</label>
                <input @bind="ModelInput.Question" type="text" class="form-control" id="question" placeholder="Enter question for model" />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </EditForm>

    <hr />

    <div class="editor">
        <textarea @bind=ModelInput.Result placeholder="model result" rows="10" style="width:100%" readonly></textarea>
    </div>
</div>